.post_card {
    display: grid;
    max-width: 750px;
    grid-template-columns: 1fr 2fr;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    cursor: pointer;
}
.post_image {
    max-height: 180px;
}
.post_image img {
    flex: 1;
    object-fit: cover;
    width: 250px;
    height: 180px;
}
.post_content {
    padding: 10px 20px;
}
.post_title {
    text-align: left;
    color: #5C4DE8;
    font-size: 18px;
    margin: 0;
}
.post_description {
    text-align: left;
    color: #000000;
    font-size: 14px;
    height: 85px;
    margin: 10px 0 20px 0;
    overflow: hidden;
}
.post_details {
    display: flex;
    justify-content: space-between;
    height: 18px;
    color: #000000;
    margin-bottom: 0;
}
.post_author {
    flex: 0.8;
    text-align: left;
    font-size: 14px;
    margin: 0;
}
.post_rate {
    flex: 0.2;
    display: flex;
    justify-content: space-between;
}
.post_like, .post_comment {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    flex: 0.4;
}
