

.right-side {
    background: #4557b3;
    color: white;
    height: 100%;
    position: relative;
}
.login-fields {
    display: grid;
}
.title {
    font-size: 36px;
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    line-height: 58px;
    font-weight: normal;
    margin: 80px 120px 100px;
}
.login-text {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
}
.text-field {
    margin: 50px 110px 30px;
    padding: 0;
}
#sign-in {
    padding: 17px 120px;
    box-sizing: border-box;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background: white;
    color: #4557B3;
}
.check {
    display: flex;
    justify-content: flex-start;
    margin: 10px 110px;
}
input {
    outline: none;
}
input[type=checkbox] {
    transform: scale(1.5);
}
input[type=text] {
    padding: 15px 20px;
    margin: 8px 110px;
    width: 500px;
    height: 30px;
    display: inline-block;
    border: none;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}
input[type=password] {
    padding: 15px 20px;
    margin: 8px 110px;
    width: 500px;
    height: 30px;
    display: inline-block;
    border: none;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}
input[type=text]::placeholder {
    color: white;
    font-size: 16px;
}
input[type=password]::placeholder {
    color: white;
    font-size: 16px;
}
#password {
    margin-top: 8px;
    margin-bottom: 8px;
}
.buttons {
    margin: 80px 200px 50px;
}
.buttons-sign-up {
    margin: 80px 200px 50px;
}

.login-fields input {
    background: none;
}

.remember {
    margin-right: 10px;
}
#forgot {
    margin-left: 230px;
}

