.left-side {
    background: #627CFF;
    position: relative;
    display: flex;
    height: 100%;
}
.first, .second, .third, .fourth, .fifth, .develdt {
    position: absolute;
}
.first {
    right: 159px;
    top: 99px;
}
.second {
    top: 229px;
    left: 209px;
}
.third {
    right: 207px;
    bottom: 130px;
}

.fourth {
    right: 49px;
    bottom: 296px;
    z-index: 1;
}

.fifth {
    top: 197px;
    left: 70px;
    z-index: 2;
}
.develdt {
    bottom: 22px;
    right: 30px;
    color: white;
    font-size: 14px;
}
