.survey-link {
    text-decoration: none;
    color: inherit;
}
.survey-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 340px;
    cursor: pointer;
}
.survey-image {
    object-fit: cover;
}
.survey-content {
    padding: 10px 20px;
    background-color: #ffffff;
}
.survey-title {
    margin: 0;
}
.survey-description {
    margin: 10px 0;
}
