.postForm {
    display: flex;
    flex-direction: column;
    background: #627CFF;
    padding: 10px 20px;
    min-width: 750px;
    min-height: 60px;
    width: 100%;
    border-radius: 2px;
    transition: max-height 3s ease-in;
}
.postForm .postForm_initial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
}
.postForm__title .postTitle {
    margin-left: 10px;
    padding: 0;
    color: #fff;
    background: none;
    max-width: 350px;
    border: none;
}
.postForm__title {
    display: flex;
    align-items: center;
}
.postForm_initial {
    display: flex;
    justify-content: space-between;
    flex: 0.1;
}
.postForm_expand {
    display: flex;
    flex-direction: column;
}
.postForm_expand .postDescription {
    color: #fff;
    font-size: 16px;
    font-family: "Proxima Nova", sans-serif;
    margin-left: 34px;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
}

.postForm__upload .postSubmit {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 41px;
    cursor: pointer;
}
.none {
    display: none;
}
