.post-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5em;
    margin: 20px 70px;
    max-width: 1100px;
}
.post-container > div {
    background-color: transparent;
    color: white;
    padding: 2em;
    border-radius: 0.5em;
    text-align: center;
}
.create-post {
    background: #627CFF;
    padding: 10px 20px;
}
.create-post-post {
    display: flex;
    justify-content: space-around;
}
.button-field {
    display: flex;
    justify-content: space-between;
}
/* .publish {
    display: none;
} */
#publish {
    padding: 7px 30px;
    font-size: 16px;
    background: #ffffff;
}
#publish:hover {
    background: #e5e5e5;
}
#input-post-description {
    background: none;
    border: none;
    margin: 0;
    margin-left: 53px;
    height: 60px;
    padding: 0;
    font-size: 16px;
    width: 660px;
    border-bottom: 1px solid white;
}
.text-area {
    margin-bottom: 10px;
}
#clip {
    transform: rotate(40deg)
}
.post {
    text-align: left;
    margin-bottom: 20px;
    color: #5C4DE8;
}
.post-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.2em;
    margin-top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 10px;
    cursor: pointer;
}
.post-image img {
    flex: 1;
    object-fit: cover;
    width: 250px;
    height: 160px;
}
.post-title {
    text-align: left;
    color: #5C4DE8;
    font-size: 18px;
    margin-top: 0;
}
.post-description {
    text-align: left;
    color: #000000;
    font-size: 14px;
    height: 70px;
    margin-bottom: 25px;
    overflow: hidden;
}
.post-detail {
    color: #000000;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
}
.post-detail > p {
    margin: 0;
    text-align: right;
    display: flex;
}
.rate {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 140px;
}
.like {
    margin-left: 30px;
    margin-right: 15px;
}
.like img {
    display: inline-block;
    vertical-align: middle;
}
.comment img {
    vertical-align: middle;
}
span {
    margin-left: 5px;
}
.icons {
    display: flex;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
    margin-right: 440px;
}
#smile {
    margin-right: 10px;
}
#input-post {
    border: none;
    background: none;
    color: white;
    width: 170px;
    height: 22px;
    line-height: 22px;
    margin: 0;
}
#input-post::placeholder {
    color: white;
    font-size: 16px;
}
.author-field {
    margin-top: 10px;
    font-size: 14px;
    text-align: right;
}
.author {
    margin: 0;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.popular-posts {
    width: 360px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    padding: 10px;
    color: black;
}
.popular-post {
    display: flex;
}
.popular-post-image {
    object-fit: cover;
    width: 150px;
    height: 80px;
    background: lavender;
}
.popular-post-content {
    display: block;
    text-align: left;
    margin-left: 20px;
}
.popular-rate {
    display: flex;
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 14px;
}
.popular-rate img {
    vertical-align: middle;
}
.popular-title {
    margin: 0;
    font-size: 18px;
    color: #627CFF;
}
.popular-post-author p {
    margin: 0;
    font-size: 14px;
}
.likes {
    margin-right: 25px;
}
.between {
    border: 1px solid #CCCCCC;
}
#file {
    display: none;
}
