
.popular-post {
    display: flex;
    padding: 15px;
}
.popular-post-image {
    object-fit: cover;
    width: 150px;
    height: 80px;
    background: lavender;
}
.popular-post-content {
    width: 100%;
    display: block;
    text-align: left;
}
.popular-title {
    margin: 0;
    font-size: 18px;
    color: #627CFF;
}
.popular-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 0;

}
.popular-rate p {
    flex: 0.8;
}
.likes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0.2;
}
.popular-rate img {
    vertical-align: middle;
}
.popular-post-author p {
    margin: 0;
    font-size: 14px;
}
.between {
    margin: 0;
    border: 1px solid #CCCCCC;
}


