
.popular-post {
    display: flex;
}
.popular-post-image {
    object-fit: cover;
    width: 150px;
    height: 80px;
    background: lavender;
}
.popular-post-content {
    display: block;
    text-align: left;
    margin-left: 20px;
}
.popular-title {
    margin: 0;
    font-size: 18px;
    color: #627CFF;
}
.popular-rate {
    display: flex;
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 14px;
}
.popular-rate img {
    vertical-align: middle;
}
.popular-post-author p {
    margin: 0;
    font-size: 14px;
}
.likes {
    margin-right: 25px;
}
.between {
    border: 1px solid #CCCCCC;
}


