.header {
    background: #627CFF;
    color: #fff;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1100px;
    margin: 0 auto;
}

.nav .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 324px;
    padding: 0;
    margin: 0;
}
.nav .brand-logo {
    margin: 0;
    font-size: 26px;
}
.nav .login {

}
