.survey-detail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 30px;
    background-color: #f4f4f4;
    padding: 30px;
    max-height: 600px;
}
.survey-question-info {

}
